{% extends 'base.html' %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block body %}

<div class="container my-4">
    <h3>Добро пожаловать, {{ request.session.user }}!</h3>
</div>

<!-- Форма смены пароля -->
<div class="container">
    <h4>Смена пароля</h4>
    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Текущий пароль</label>
            <input type="password" class="form-control" id="currentPassword" name="current_password" required>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">Новый пароль</label>
            <input type="password" class="form-control" id="newPassword" name="new_password" required>
        </div>
        <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Подтвердите новый пароль</label>
            <input type="password" class="form-control" id="confirmNewPassword" name="confirm_new_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
</div>

{% endblock %}